body {
	font-family: 'Montserrat', sans-serif;
	background-color: #eee;
	margin: 0;
	padding: 0;
}

.search-form form {
	padding: 1em;
	background-color: #aaa;
}

.search-form label {
	margin-right: .5em;
}

.search-form input {
	padding: 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: 2px solid #777;
}

.user-list {
	background-color: #eee;
	padding: 1em;
}

.user-item {
	display: flex;
	align-items: center;
	border-top: 2px solid #aaa;
	margin-top: .5em;
	padding-top: .5em;
}

.user-item:first-of-type {
	border: 0;
	padding: 0;
}

.user-item img {
	margin-right: 1em;
}

.user-item a {
	color: black;
	text-decoration: none;
}

.user-item a:hover {
	color: #aaa;
}
